
.jumbotron{
    /* text-align: center; */
    color: white;
}
.food {
    height: 300px;
    width: 100%;
}
body {
    background-image: url("./background1.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#line{
    color: white;
}
.fill-form{
    margin: 80px auto 0px auto;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
#submit{
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    margin-left: 145px;
}
#reset{
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    margin-left: 50px;
}
#info{
    padding-top: 30px;
}